.container{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nav-container{
    
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    overflow: hidden;
    background-color:darkblue;
  }

.menu{
    float: left;
}

.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #111;
  }

.image{
    background-image: url("coffee1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}

.content {
  }

  .footer{
      text-align: center;
      color:darkblue;
      background-color:whitesmoke;
      padding: 1%;
  }
